body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

header, nav, section, aside, footer {
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
}

.smallbox {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
}

section {
    float: left;
    width: 495px;
}

article {
    background-color: #777;
    color: #ebebeb;
    padding: 10px;
    margin: 10px;
}

aside {
    float: right;
    width: 40%;
    height: 249px;
}

footer {
    clear: both;
}